<h1>Liste des Employées</h1>
<form action="">
<div style="display: flex; justify-content: center; margin-left: 100px; margin-right: 100px;">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Âge</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employe">
        <td>{{ employee.id }}</td>
        <td>{{ employee.nom }}</td>
        <td>{{ employee.age }}</td>
        <td>
          <button (click)="deleteEmp(employee.id)" type="button" class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</form>